# cash and tmp files of the PyCharm
.idea/
app/__pycache__
app/database/__pycache__
config/__pycache__
__pycache__
app/auth/

# virtual environment
.venv


# project's files
config/.env
media/Расписание
